@page "/account/login"
@layout LoginLayout
@inherits BasePage
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject HttpClient Http

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
<!-- icheck bootstrap -->
<link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../../dist/css/adminlte.min.css">


<div class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>Template</b> CRM</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <EditForm Model="@Model"
                          OnValidSubmit="HandleValidUserLoginSubmit"
                          OnInvalidSubmit="HandleInvalidSubmit"
                          FormName="HandleValidUserLoginSubmit">
                    <DataAnnotationsValidator />
                    <div class="form-group col-md-12">
                        @* <label for="Email">Email</label> *@
                        <InputText id="Email" class="form-control" placeholder="Email" @bind-Value="@Model.Email"></InputText>
                        <ValidationMessage For="@(() => Model.Email)" />
                    </div>
                    <div class="form-group col-md-12">
                        @* <label for="Password">Password</label> *@
                        <InputText id="Password" class="form-control" placeholder="Password" @bind-Value="@Model.Password"></InputText>
                        <ValidationMessage For="@(() => Model.Password)" />
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>

                </EditForm>

               

                <p class="mb-1">
                    <a href="/account/forgotPassword">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a href="/account/register-client" class="text-center">Register a new membership</a>
                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.-->
</div>

