@inherits BasePage

<EditForm Model="@Model" OnValidSubmit="HandleValidUserChangePasswordSubmit">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="Email">OldPassword</label>
                            <InputText id="OldPassword" class="form-control" placeholder="OldPassword" @bind-Value="@Model.OldPassword"></InputText>
                            <ValidationMessage For="@(() => Model.OldPassword)" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="NewPassword">NewPassword</label>
                            <InputText id="NewPassword" class="form-control" placeholder="NewPassword" @bind-Value="@Model.NewPassword"></InputText>
                            <ValidationMessage For="@(() => Model.NewPassword)" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="ConfirmPassword">ConfirmPassword</label>
                            <InputText id="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" @bind-Value="@Model.ConfirmPassword"></InputText>
                            <ValidationMessage For="@(() => Model.ConfirmPassword)" />
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>

</EditForm>