@inherits BasePage

<EditForm Model="@Model" OnValidSubmit="HandleValidUserResetPasswordSubmit">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                   
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="NewPassword">New Password</label>
                            <InputText id="NewPassword" class="form-control" placeholder="NewPassword" @bind-Value="@Model.NewPassword"></InputText>
                            <ValidationMessage For="@(() => Model.NewPassword)" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="ConfirmPassword">Confirm Password</label>
                            <InputText id="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" @bind-Value="@Model.ConfirmPassword"></InputText>
                            <ValidationMessage For="@(() => Model.ConfirmPassword)" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-check">
                            <InputCheckbox id="PasswordNeverExpires" class="form-check-input" @bind-Value="@Model.PasswordNeverExpires" />
                            <label class="form-check-label" for="PasswordNeverExpires">
                                Password Never Expires
                            </label>
                        </div>
                    </div>
                    @if (Model.PasswordNeverExpires == false)
                    {
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="PasswordExpiryDate">Password Expiry Date</label>
                                <InputDate id="PasswordExpiryDate" class="form-control" placeholder="PasswordExpiryDate" @bind-Value="@Model.PasswordExpiryDate"></InputDate>
                                <ValidationMessage For="@(() => Model.PasswordExpiryDate)" />
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>

</EditForm>