@page "/users/index"
@inherits BasePage


<PartaialPageTitle Header="System Users" Title="System Users">
    <Content>
        <PartialModal ButtonCSS="float-right btn btn-info btn-sm mr-1"
                      Button="Register New User"
                      Heading="Register New User"
                      Id="RegisterNewUser"
                      Size="modal-xl"
                      ShowFooter="false">
            <Content>
                <AddUserModal></AddUserModal>
            </Content>
        </PartialModal>
    </Content>
</PartaialPageTitle>

@if (_lastClickedUser is not null)
{
    <div class="alert alert-info">
        Last clicked: @_lastClickedUser.Email
    </div>
}

@* <RadzenGrid 
    RowRender="RowRender"  
    AllowPaging="true" 
    AllowFiltering="true" 
    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
    PageSize="10" 
    AllowSorting="true" 
    Data="@Users" 
    TItem="ViewUserViewModel">
        <Columns>
            <RadzenGridColumn TItem="ViewUserViewModel" Property="CreatedDate" Title="CreatedDate"></RadzenGridColumn>
            <RadzenGridColumn TItem="ViewUserViewModel" Property="Email" Title="Email"></RadzenGridColumn>
            <RadzenGridColumn TItem="ViewUserViewModel" Property="FirstName" Title="FirstName"></RadzenGridColumn>
            <RadzenGridColumn TItem="ViewUserViewModel" Property="LastName" Title="LastName"></RadzenGridColumn>
            <RadzenGridColumn TItem="ViewUserViewModel" Property="EmailConfirmed" Title="EmailConfirmed"></RadzenGridColumn>
            <RadzenGridColumn TItem="ViewUserViewModel" Property="AccessFailedCount" Title="AccessFailedCount"></RadzenGridColumn>
        </Columns>
    </RadzenGrid> *@

<DataTable Items="@Users.ToList()"
           AllowFiltering="true"
           AllowPaging="true"
           PageSize="5"
           ShowPagingSummary="true"
           AllowSorting="true"
           SelectionMode="DataTableSelectionMode.Single"
           RowClick="@OnRowClick"
           RowSelect="@OnRowSelect"
           RowRender="@RowRender"
           TItem="ViewUserViewModel">
    <Columns>
        <DataTableColumn Property="@nameof(ViewUserViewModel.Email)" Title="Email" Width="250px" />
        <DataTableColumn Property="@nameof(ViewUserViewModel.CreatedDate)" Title="CreatedDate" Width="160px" />
        <DataTableColumn Property="@nameof(ViewUserViewModel.FirstName)" Title="FirstName" />
        <DataTableColumn Property="@nameof(ViewUserViewModel.LastName)" Title="LastName" />
        <DataTableColumn Property="@nameof(ViewUserViewModel.PhoneNumber)" Title="PhoneNumber" />
        <DataTableColumn Property="@nameof(ViewUserViewModel.EmailConfirmed)" Title="EmailConfirmed" />
        <DataTableColumn Property="@nameof(ViewUserViewModel.LockoutEnd)" Title="LockoutEnd" />
        <DataTableColumn Property="@nameof(ViewUserViewModel.LockoutEnabled)" Title="LockoutEnabled" />
        <DataTableColumn Property="@nameof(ViewUserViewModel.AccessFailedCount)" Title="AccessFailedCount" />
    </Columns>
</DataTable>