@page "/users/index"
@inherits BasePage
@attribute [Authorize(Policy = PortalPolicy.ViewUsersPolicy)]


<PartaialPageTitle Header="System Users" Title="System Users">
    <Content>
        <PartialModal ButtonCSS="float-right btn btn-info btn-sm mr-1"
                      Button="Register New User"
                      Heading="Register New User"
                      Id="RegisterNewUser"
                      Size="modal-xl"
                      ShowFooter="false">
            <Content>
                <AddUserModal></AddUserModal>
            </Content>
        </PartialModal>
    </Content>
</PartaialPageTitle>

@* @if (_lastClickedUser is not null)
{
    <div class="alert alert-info">
        Last clicked: @_lastClickedUser.Email
    </div>
}

@if (_lastSelectedUser is not null)
{
    <div class="alert alert-success">
        Last selected: @_lastSelectedUser.Email
    </div>
} *@


<RadzenDataGrid Data="@Users"
                AllowVirtualization="false"
                AllowFiltering="true"
                AllowColumnResize="true"
                AllowAlternatingRows="false"
                FilterMode="FilterMode.Advanced"
                PageSize="5"
                AllowPaging="true"
                ColumnWidth="300px"
                PagerHorizontalAlign="HorizontalAlign.Left"
                ShowPagingSummary="true"
                SelectionMode="DataGridSelectionMode.Single"
                TItem="ViewUserViewModel"
                RowClick="@OnRowClick"
                RowRender="@RowRender"
                AllowSorting="true">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(ViewUserViewModel.Email)" Title="Email" Frozen="true" width="250px" />
        <RadzenDataGridColumn Property="@nameof(ViewUserViewModel.CreatedDate)" Title="CreatedDate" width="160px" />
        <RadzenDataGridColumn Property="@nameof(ViewUserViewModel.FirstName)" Title="FirstName" />
        <RadzenDataGridColumn Property="@nameof(ViewUserViewModel.LastName)" Title="LastName" />
        <RadzenDataGridColumn Property="@nameof(ViewUserViewModel.PhoneNumber)" Title="PhoneNumber" />
        <RadzenDataGridColumn Property="@nameof(ViewUserViewModel.EmailConfirmed)" Title="EmailConfirmed" />
        <RadzenDataGridColumn Property="@nameof(ViewUserViewModel.LockoutEnd)" Title="LockoutEnd" />
        <RadzenDataGridColumn Property="@nameof(ViewUserViewModel.LockoutEnabled)" Title="LockoutEnabled" />
        <RadzenDataGridColumn Property="@nameof(ViewUserViewModel.AccessFailedCount)" Title="AccessFailedCount" />
    </Columns>
</RadzenDataGrid>