@page "/dashboard/index"
@page "/"

<PartaialPageTitle Title="Dashboard" Header="Dashboard">
     <Content>
        <div class="float-right mt-2">
          <PartialModal ButtonCSS="float-right btn btn-sm  btn-outline-primary mr-1"
                          Button="Loan calculation"
                          Heading="Loan calculation"
                          Id="Loancalculation"
                          Size="modal-xl"
                          ShowFooter="false">
                <Content>
                  
                </Content>
            </PartialModal>
        </div>
    </Content>
</PartaialPageTitle>




<!--second-->
<div class="card direct-chat direct-chat-primary">
    <div class="card-header ui-sortable-handle" style="cursor: move;">
        <h3 class="card-title">Current running loans</h3>
        <div class="card-tools">

            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <div class="btn-group" role="group" aria-label="Basic example">
                @* <button type="button" class="btn btn-sm btn-info" @onclick="@((x)=> OnClickStatusColor(color:Colors.Info))">View All Clients</button>
                <button type="button" class="btn btn-sm btn-success" @onclick="@((x)=> OnClickStatusColor(color:Colors.Success))">View Valid Clients</button>
                <button type="button" class="btn btn-sm btn-warning" @onclick="@((x)=> OnClickStatusColor(color:Colors.Warning))">View Invalid Clients</button> *@
            </div>

        </div>
    </div>
    @* <div class="card-body">
        <Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.FromSeconds(0)">
            <RadzenGrid RowRender="RowRender" RowSelect="@((args) => RowClicked(args))" AllowPaging="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" PageSize="10" AllowSorting="true" Data="@LoanApplications" TItem="LoanApplicationViewModel">
                <Columns>
                    <RadzenGridColumn TItem="LoanApplicationViewModel" Property="ApplicationNumber" Title="Loan Number"></RadzenGridColumn>
                    <RadzenGridColumn TItem="LoanApplicationViewModel" Property="FullnameFormat" Title="Fullname"></RadzenGridColumn>
                    <RadzenGridColumn TItem="LoanApplicationViewModel" Property="EmployerFormat" Title="Employer"></RadzenGridColumn>
                    <RadzenGridColumn TItem="LoanApplicationViewModel" Property="LoanStatusFormat" Title="Status"></RadzenGridColumn>
                    <RadzenGridColumn TItem="LoanApplicationViewModel" Property="AmountFormat" Title="Amount"></RadzenGridColumn>
                    <RadzenGridColumn TItem="LoanApplicationViewModel" Property="LoanRepaymentsPaidFormat" Title="Amount Paid"></RadzenGridColumn>
                    <RadzenGridColumn TItem="LoanApplicationViewModel" Property="LoanRepaymentsFormat" Title="Repayments"></RadzenGridColumn>
                </Columns>
            </RadzenGrid>
        </Animate>
    </div> *@
   
</div>


