@page "/user/details/{userId}"
@inherits BasePage

<PartaialPageTitle Header="User Details" Title="User Details">
    <Content>
        @* <div class="float-right mt-2">
            <a href="/batch/create" class="btn btn-info btn-sm">Create new batch</a>
        </div> *@
    </Content>
</PartaialPageTitle>

<Aniate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(2)" Delay="TimeSpan.FromSeconds(0.5)">
    <div class="cs-header">
    </div>
    <hr class="px-4" />
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item">User ID: @UserModel.Id</li>
                <li class="list-group-item">User Name: @UserModel.UserName</li>
                @* <li class="list-group-item">Roles: @string.Join(", ", UserModel.UserRoles.Select(ur => ur.Name))</li> *@
            </ul>
        </div>
        <div class="col-sm-8">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" @onclick="@((x)=> AccordationHeaderSelected(args:"updatepassword"))">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Update Password
                            </button>
                        </h5>
                    </div>
                    <div id="manage" class="collapse @(SelectedAccordation == "updatepassword" ? "show" : "")" aria-labelledby="updatepassword" data-parent="#accordion">
                        <div class="card-body">
                            <hr />
                            <EditForm Model="@UserModel" OnValidSubmit="HandleValidUpdatePassword">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <div class="form-group row">
                                    <div class="col-sm-8 ">
                                        <InputText type="password" class="form-control" @bind-Value="@UserModel.Password" placeholder="Password" id="updatePassword"></InputText>
                                    </div>
                                    <button type="submit" class="btn btn-danger btn-sm col-sm-4">Update Password</button>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                    @*  <AuthorizeView Roles="Admin" Context="authContext">*@
                        <div class="card-header" @onclick="@((x)=> AccordationHeaderSelected(args:"roles"))">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Edit Roles
                                </button>
                            </h5>
                        </div>
                        <div id="manage" class="collapse @(SelectedAccordation == "roles" ? "show" : "")" aria-labelledby="roles" data-parent="#accordion">
                            <div class="card-body">
                                @if(Roles != null)
                                {
                                    @foreach (var role in Roles)
                                    {
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="@role.Name" checked="@role.Checked" @onchange="(e) => RoleChange(role, e)">
                                            <label class="form-check-label" for="@role.Name">@role.Name</label>
                                        </div>
                                    }
                                }                                
                            </div>
                        </div>
                    @*</AuthorizeView> *@
                </div>
            </div>
        </div>
    </div>
</Aniate>